@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,400&family=Unbounded:wght@200;300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    Margin: 0;
    padding: 0;
    font-family: 'Unbounded', cursive;
   
}

body {
    /* background-color: rgb(25, 25, 25); */
    background: linear-gradient(-45deg, #000000, #171717, #4d370d, #b47201);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
    height: 200vh;
    overflow-x: hidden;
}
/* Gradient Background */

@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

/* header */
.store-name {
    /* min-height: 100vh; */
    width: 100%;
}

.store-name h1 {
    font-size: 50px;
    color: rgb(255, 255, 255);
}

/*---- Nav Bar----*/
nav {
    display: inline;
    padding: 2% 30%;
    justify-content: space-between;
    align-items: center;
  }
  
.nav-links {
    flex:1;
    text-align: right;
  }
  
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
  }
  
.nav-links ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 30px;
  }

.nav-links ul li::after {
    content:'';
    width: 0%;
    height: 2px;
    background: #ca6f00;
    display: block;
    margin: auto;
    transition:0.5s;
  }

.nav-links ul li:hover::after {
    width:100%;  
  }

 /*---- Video Slideshow -----*/
 section {
  position: relative;
  width: 100%;
  height: 70vh;
}

section video {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 90%;
    object-fit: cover;
}

section .navigation {
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translate(-50%);
    z-index: 100;
    /* The order of elements */
    display: flex;
    justify-content: center;
    align-items: center;
}
section .navigation li {
    list-style: none;
    cursor: pointer;
    margin: 0 10px;
    border-radius: 4px;
    background: #fff;
    padding: 3px 3px 0;
    opacity: 0.7;
    transition: 0.5s;
}

section .navigation li:hover {
    opacity: 1;
}

section .navigation li img {
    height: 100px;
    width: 120px;
    transition: 0.5s;
}
section .navigation li img:hover {
    width: 200px;
    opacity: 1;
}

.mainQuote {
  z-index: 1;
  position:absolute;
  font-size: 20px;
  top:50%;
  left:5%;
  text-align: center;
  color: #fff;
}


/*---- Recommended Products Grid ----*/

#recProd{
  color:#fff;
  text-align: center;
  margin-top: 3%;
  border-style: solid;
  border-color: #ca6f00;
}
.grid-container {
    display: grid;
    text-align: center;
    justify-content: center;
    grid-template-columns:300px 300px 300px;
    grid-template-rows: auto;
    margin-top: 40px;
    column-gap: 40px;
    height: 50vh;
}

.grid-item img {
    width: 300px;
    height: 300px;
    text-align: center;
}

.grid-item {
    padding: 20px;
    color: white;
}

.grid-item p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color:#ca6f00;
}

/*---- Motivation Text ----*/
.motivation {
    color: #ca6f00;
    /* display: inline-block; */
    text-align: center;
    font-size: 60px;
    padding: 15%;
    /* margin: 10%;  */
    display: block;
    margin-left: auto;
    margin-right: auto
}

.learn{
  position: relative;
}

.learn img {
  position: relative;
  top: 0;
  left: 0;
  width:100%;
  height: 100vh;
}

.learnText {
  z-index: 100;
  position: absolute;
  color: #ffffff;
  font-size: 30px;
  text-align: center;
  left: auto;
  top: 0;
  padding-top: 12px;
  background-color: rgba(0, 0, 0, 0.8);
  border-style: solid;
  width: 100%;
  border-color: #ca6f00;
}

.learn button {
  height: 40px;
  width: 200px;
  margin: 20px;
  border:none;
}

.learn button:hover{
  background-color: #cb7102;
  color: #fff;
}


 

/*----- Footer -----*/
footer {
    width: 100%;
    text-align: center;
    padding: 20px 0px;
    margin: 20px 0;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .signUp{
    display: inline;
    position: relative;
    padding: 10px;
    margin: 20px;
  }

.signUp input{
    outline: none;
  }

  .signUp input[type="submit"]{
    background: #ca6f00;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 5px;
  }
  
.signUp h2 {
  color: #cb7102;
}
  footer h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin: 10px;
  }

  footer label {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
  }

  .followUs {
    color: #cb7102;
  }

  .followUs {
    margin: 40px;
  }
  footer ul {
    list-style-type: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color:white;
    height: 30px;

  }
  footer i {
   padding: 5px 10px;
   margin-top: 25px;
   text-decoration: none;
  }
  
  a, a:visited {
    color: white; 
    text-decoration: none;
    /* padding: 10px;  */
  }

  .icons:hover{
    transition: .5s;
    cursor: pointer;
  }

/*---- Responsive ----*/

/*--- Small Mobile -----*/
@media screen and (min-width: 320px) and (max-width: 480px){
  * {
    overflow-x: hidden;
}

nav {
    /* justify-content: space-around;
    position: relative; */
    display: flex;
    flex-direction: column;
    font-weight: 200;
    width: 100vh;
    justify-content: center;
    padding: 10px;
    font-size: 10px;
		text-align: center;
  
}


.store-name {
    text-align: center;
    font-size: 1em;
    padding-top: 50px;
}

section .navigation li img {
  height: 50px;
  width: 80px;
}

section .navigation li img:hover {
  width: 100px;
}

.mainQuote {
  position:relative;
  font-size: 15px;
  top:0;
  z-index: 1;
}

#recProd{
  color:#fff;
  text-align: center;
  margin-top: 5%;
  border-style: solid;
  border-color: #ca6f00;
}

.grid-container {
  display: flex;
  flex-direction: column;
  height: 60%;
}
.grid-item img {
  width: 100px;
  height: 100px;
  text-align: center;
}
.motivation {
  font-size: 20px;
  padding: 15%;
}


.learn img {
  height: 50vh;
}

.learnText {
  font-size: 15px;
}
footer {
  width: 90%;
  text-align: center;
  
}

.signUp{
  display: inline;
  position: relative;
  padding: 10px;
  margin: 20px;
}

.signUp input{
  outline: none;
  margin-bottom: 5px;
}
.followUs {
  padding: 10px;
}
}
  /* ---------- tablets ----------- */
@media screen and (min-width: 481px) and (max-width: 768px){
  * {
      overflow-x: hidden;
  }
}

/*-------- laptops -------  */
@media screen and (min-width: 769px) and (max-width: 1025px) {}